<aside class="sidenav-container">
  <div class="logo">G-Depot</div>

  <nav class="navigation">
    <a routerLink="/dashboard" routerLinkActive="active" class="nav-item">
      <i class="fa-solid fa-house"></i>
      <span>Tableau de Bord</span>
    </a>
    <a routerLink="/inventaire" routerLinkActive="active" class="nav-item">
      <i class="fa-solid fa-box-archive"></i>
      <span>Inventaire</span>
    </a>
    <a routerLink="/commandes" routerLinkActive="active" class="nav-item">
      <i class="fa-solid fa-cart-shopping"></i>
      <span>Commandes</span>
    </a>  
    <a routerLink="/factures" routerLinkActive="active" class="nav-item">
      <i class="fa-solid fa-file-invoice"></i>
      <span>Factures</span>
    </a>
    <a routerLink="/chauffeurs" routerLinkActive="active" class="nav-item">
       <i class="fa-solid fa-truck"></i>
      <span>Chauffeurs</span>
    </a>
    <a routerLink="/bons-de-sortie" routerLinkActive="active" class="nav-item">
      <i class="fa-solid fa-file-export"></i>
      <span>Bons de Sortie</span>
    </a>
    <a routerLink="/fournisseurs" routerLinkActive="active" class="nav-item">
      <i class="fa-solid fa-truck-fast"></i>
      <span>Fournisseurs</span>
    </a>
     <a routerLink="/depots" routerLinkActive="active" class="nav-item">
      <i class="fa-solid fa-warehouse"></i>
      <span>Dépôts</span>
    </a>
    <a routerLink="/utilisateurs" routerLinkActive="active" class="nav-item">
      <i class="fa-solid fa-users"></i>
      <span>Utilisateurs</span>
    </a>
    <a routerLink="/map" routerLinkActive="active" class="nav-item">
      <i class="fa-solid fa-map-location-dot"></i>
      <span>Map</span>
    </a>
  </nav>
  <button (click)="logout()" class="logout-button">Déconnexion</button>
</aside>